
h1{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.App-header {
  height: 10vh;
  font-size: calc(10px + 2vmin);
  text-align: center;
  color: black;
}

.main{
  display: flex;
  padding: 2rem;
}

.main-section{
  width: 70%;
  height: 100%;
}
.filter-section{
  padding-bottom: 2rem;
}
.filter-buttons{
  display:flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.clear-section{
  padding-top: 2rem;

}
.content{
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.aggregator{
  padding-left: 1rem;
  position: sticky;
  width: 30%;
  height: auto;
  background-color:#CCD5FF;
}

.aggregator-title, .song-count{
  text-align: center;
}